<html ng-app="todoApp">
	<head>
	 <meta name="viewport" content="width=device-width, 
                                     initial-scale=1.0, 
                                     maximum-scale=1.0, 
                                     user-scalable=no">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
		<script src="main.js"></script>
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
	<header>
		<h1>Fastask</h1>
		<h4>Add. Complete. Repeat.</h2>
	</header>

		<div ng-controller="TasksCtrl">

			<form>
				<input type="text" placeholder="I have to..." ng-model="inputTask" autofocus>
				<button class="btn btn-primary btn-sm" ng-disabled="!inputTask" ng-click="addTask()">Add</button>
			</form>

			<ul>
				<li
					style="list-style-type:none;"
					class="item"
					ng-repeat="task in tasks track by $index"
					ng-mouseenter="showDelete = true"
					ng-mouseleave="showDelete = false"

				>

					<input type="checkbox" ng-click="setDone($index)" ng-checked="tasks[$index].done">
					<span id="text" ng-class="{done_true:tasks[$index].done}">{{task.name}}</span>
					<button class="btn btn-danger btn-xs" ng-click="delTask($index)" ng-show="showDelete">Delete</button>
				</li>
			</ul>

			<button class="btn btn-default" ng-disabled="tasks.length < 1 || isNotChecked()" ng-click="delChecked()">Delete Completed Tasks</button>
			<button class="btn btn-danger" ng-disabled="tasks.length < 1" ng-click="delAll()">Delete All Tasks</button>
			
 			<br/><br/>
			{{tasks}}
		</div>
	</body>
</html>